<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cascadia Maintenance Sheet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <header>
      <img
        src="./img/Cascadia_logo_typeOnly_orange.png"
        alt="Cascadia Logo"
        class="logo"
      />
      <h1 class="main-title">Cascadia Windows & Doors Maintenance Logs</h1>
    </header>
    <p class="introduction">
      Click on the links below to view the maintenance logs for each location:
    </p>
    <ul>
      <a href="./authentication/login.html"><li>Assembly Floor</li></a>
      <a href="./locations/MillRoom.html"><li>Mill Room</li></a>
      <a href="./locations/PaintRoom.html"><li>Paint Room</li></a>
      <a href="./locations/GlazingLines.html"><li>Glazing Lines</li></a>
      <a href="./locations/ShippingAndReceiving.html"
        ><li>Shipping & Receiving</li></a
      >
    </ul>
  </body>
</html>
